{% extends 'base.html' %}

{% block content %}

<h5> This is the contents of the about page</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
    
    <div class="about_us">
    <h3>What We do</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab corporis facere itaque labore mollitia necessitatibus pariatur reprehenderit sunt vitae? Asperiores at atque ex id modi optio praesentium quaerat quasi repudiandae?</p>
    </div>

{% endblock %}